//- index.pug
doctype html
html

  include ./head.pug

    //- setup grid layout for the javascript targets
    //- add more syntax examples
    //- implement dat.gui.js

  body

    h1 PrePros Boilerplate
      

    include ./pug/docsSection.pug
    
    br
    br

    include ./pug/targets.pug
    
    br
    br

    include ./pug/syntaxExamples.pug

    br
    br

    include ./pug/form.pug

    //- include ./pug/pureCssForm.pug

    include ./scripts.pug

