
.docsSection
  h2 Misc Helpful Docs
   
  | A div, with class 'docsSection' 
  p
    a(href="https://devhints.io/pug") Devhints Pug cheatsheet


  br 

  a(href="https://pugjs.org/language/attributes.html") Pug Reference Page