.targets
  div.js-target#js-target
    h1 Javascript Target
    | this div is the target for javascript to test
    | class name and id 
    span.big 'js-target' 

  div.root#root
    h1 Root JS Target
    | class name and id
    span.big 'root'