.targets
  div.js-target
    h1 Javascript Target
    | class name and id 
    span.big 'js-target' 

  div.root
    h1 Root Target
    | class name and id
    span.big 'root'

  div.counter1
    h1 Counter Target
    | class name
    span.big 'counter1'
 
  div.counter2
    h1 Counter Target
    | class name
    span.big 'counter2'
 
  div.counter3
    h1 Counter Target
    | class name
    span.big 'counter3'
 
  div.counter4
    h1 Counter Target
    | class name
    span.big 'counter4'