
/* Docs Section */

  .docsSection {
    background-blend-mode : luminosity;
    // filter:blur(.1rem);  
  }

/* Targets */

  .targets {

    .big {
      font-size : 1.4rem;

      display : block;

      margin-top : 1rem;

      @include offsetShadow(0px,2px,4px, 2px);
    }
  }


/* Syntax Examples */


  #syntaxExamples {
    filter : blur(0.5rem);
  }

  .syntaxExamples {
    background-color : brown;
  }

/* Crash Test Form */

  #crashTestForm {
    background-color : hsla(0, 100%, 50%, 0.241);
  }
  #crashTestFieldSet {

    background-color : hsla(240, 100%, 50%, 0.323);
  }

  
