
/* Docs Section */

  .docsSection {
    background-blend-mode : luminosity;
    // filter:blur(.1rem);  
    @extend %center;
  }



/* Syntax Examples */


  #syntaxExamples {
    filter : blur(0.5rem);
  }

  .syntaxExamples {    @extend %center;
    background-color : brown;
  }

/*form */
  .form{

  }  
